$color-primary: #74b5dd;
$color-primary-light: #a7e7ff;
$color-primary-dark: #4085ab;
$color-text-on-primary: #212121;

$color-secondary: #ffffff;
$color-secondary-light: #ffffff;
$color-secondary-dark: #ffffff;
$color-text-on-secondary: #212121;

$color-background: #edf0f2;
