$color-primary: #80cbc4;
$color-primary-light: #b2fef7;
$color-primary-dark: #4f9a94;
$color-text-on-primary: #212121;

$color-secondary: #ffb74d;
$color-secondary-light: #ffe97d;
$color-secondary-dark: #c88719;
$color-text-on-secondary: #212121;
